@CHARSET "UTF-8";
body{
    background: url('gtr2.jpg') no-repeat center center;
    background-size:115%;
}
.tictac{
width:650px;
height:650px;
position:relative;
overflow: hidden;
top: 50px;
left: 30%;
}

.box{
    width:200px;
    height:200px;
    background-color: darkslategrey;
    display: inline-block;
    position:relative;
    overflow: hidden;
}

.border{
    border-bottom-color:black
}


.resultBox{
    width: 400px;
    height: 200px;
    text-align:center;
    line-height:175px;
    font-size: 70px;
    font-family:cursive ;
    background-color:darkslateblue;
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    border-style:groove;
    border-color:black;
    top:70%;
    left:35%;
    opacity:0;
}

.restart{
    width:100px;
    height:30px;
    background-color:cyan;
    border-radius:20px;
    display:inline-block;
    overflow: hidden;
    position:absolute;
    top:70%;
    left:40%;
    text-align:center;
    line-height:30px;
    font-size:20px;
    cursor:pointer;
}
.restart:hover{
    background-color:darkcyan
}
#resultMessage{
    text-align:center;
    line-height:175px;
    font-size: 70px;
    font-family:cursive;
}